In [3]:
import pandas as pd
trip_data = pd.read_csv('data/citibike-tripdata.csv', sep=',')
trip_df = trip_data.copy()

display(trip_df.head())

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [4]:
# Задание 6.1

# Сколько пропусков в столбце start station id?

trip_df.shape[0] - trip_df['start station id'].count()

169

In [5]:
# Задание 6.2
#
# Какой тип данных имеют столбцы starttime и stoptime?
trip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [6]:
# Задание 6.3

# Найдите идентификатор самой популярной стартовой стоянки.
# Запишите идентификатор в виде целого числа.
# 
x = trip_df['start station id'].mode()
print(round(x))

0    281.0
Name: start station id, dtype: float64

In [7]:
# Задание 6.4
# point possible (graded)
# Велосипед с каким идентификатором является самым популярным?
trip_df['bikeid'].mode()

0    33887
Name: bikeid, dtype: int64

In [8]:
# Задание 6.5
#
# Какой тип клиентов (столбец usertype)
# является преобладающим 
# — Subscriber 
# или Customer? 
# 
# В качестве ответа запишите долю клиентов
# преобладающего типа
# среди общего количества клиентов.
# Ответ округлите до сотых.
res = trip_df['usertype'].value_counts(normalize=True)
print(round(res.nlargest(1),2))

Subscriber    0.77
Name: usertype, dtype: float64

In [9]:
# Задание 6.6

# Кто больше занимается велоспортом
# — мужчины
# или женщины?
# В ответ запишите число поездок для той группы, у которой их больше.

most_common = trip_df['gender'].mode().shape[0]
trip_df[trip_df['gender'] == most_common]['gender'].shape[0]

183582

In [10]:
# Задание 6.7

# Выберите утверждения,которые соответствуют нашим данным:

# A Число уникальных стартовых и конечных стоянок,
# которыми воспользовались клиенты, не равны друг другу
print(trip_df['start station name'].nunique() != trip_df['end station name'].nunique())

# B В рассматриваемые дни минимальный возраст клиента составлял 10 лет
client_age = pd.to_datetime(trip_df['starttime'], yearfirst=True).dt.year - trip_df['birth year']  
print(client_age.min())

# C Самой непопулярной стартовой стоянкой из тех,
# которыми воспользовались клиенты,
# является стоянка с названием "Eastern Pkwy & Washington Ave"
print(trip_df['end station name'].value_counts())
# D Наибольшее количество поездок завершается 
# на стоянке под названием "Liberty Light Rail"
print(trip_df['end station name'].mode() == 'Liberty Light Rail')

True
16
West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64
0    False
Name: end station name, dtype: bool

In [ ]:
# Задание 6.8

# В первую очередь удалим лишнюю информацию из данных.
# В наших данных присутствуют столбцы,
# которые дублируют информацию друг о друге:
# это столбцы с идентификатором и названием стартовой и конечной стоянки.
# Удалите признаки идентификаторов стоянок.
# Сколько столбцов осталось?
trip_df = trip_df.drop('start station id', axis=1)
trip_df.info()

In [15]:
trip_df = trip_df.drop('end station id', axis=1)
trip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

In [17]:
# Задание 6.9

# Замените признак birth year
# на более понятный признак возраста клиента
# age.
# Годом отсчёта возраста выберите 2018 год.
# Столбец birth year удалите из таблицы.
# Сколько поездок совершено клиентами старше 60 лет?
trip_df['age'] = client_age
trip_amount_age_more_60 = trip_df[trip_df['age']> 60].shape[0]
display(trip_amount_age_more_60)

11837

In [18]:
trip_df = trip_df.drop('birth year', axis=1)
trip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

In [34]:
# Задание 6.10

# Создайте признак длительности поездки trip duration.
# Для этого вычислите интервал времени между временем окончания поездки (stoptime) и её началом (starttime).
trip_df['stoptime'] = pd.to_datetime(trip_df['stoptime'], yearfirst=True)
trip_df['starttime'] = pd.to_datetime(trip_df['starttime'], yearfirst=True)
trip_df['trip duration'] = trip_df['stoptime'] - trip_df['starttime']

# Сколько целых минут длилась поездка под индексом 3 в таблице?
minutes = trip_df['trip duration'].dt.seconds//60
display(minutes[3])

7

In [41]:
# Задание 6.11
#
# Создайте «признак-мигалку» weekend
# , который равен 1, если поездка начиналась в выходной день (суббота или воскресенье),
# и 0 — в противном случае. 
trip_df['weekend'] = trip_df['starttime'].dt.day_of_week > 4

# Выясните, сколько поездок начиналось в выходные.
trip_df[trip_df['weekend']]['starttime'].shape[0]

115135

In [53]:
# Задание 6.12
# Создайте признак времени суток поездки time_of_day. 
# Время суток будем определять из часа начала поездки.
def time_of_day(time):
    if 0 <= time <= 6:
        res = 'night' 
    if 6 < time <= 12:
        res = 'morning'
    if 12 < time <= 18:
        res = 'day'
    if 18 < time < 24:
        res = 'evening'
    return res 

#print(time_of_day(7))
# 
# Условимся, что:
#поездка совершается ночью (night),
# если её час приходится на интервал
# от 0 (включительно) до 6 (включительно) часов;

# поездка совершается утром (morning),
# если её час приходится на интервал
# от 6 (не включительно) до 12 (включительно) часов;

# поездка совершается днём (day),
# если её час приходится на интервал
# от 12 (не включительно) до 18 (включительно) часов;

# поездка совершается вечером (evening),
# если её час приходится на интервал
# от 18 (не включительно) до 23 часов (включительно).
trip_df['time_of_day'] = trip_df['starttime'].dt.hour.apply(time_of_day)

# Во сколько раз количество поездок, совершённых днём,
day_trip_amount = trip_df[trip_df['time_of_day'] == 'day']['time_of_day'].shape[0]

# больше, чем количество поездок,
# совёршенных ночью,
night_trip_amount = trip_df[trip_df['time_of_day'] == 'night']['time_of_day'].shape[0]
# за представленный в данных период времени?
# Ответ округлите до целых.
print(round(day_trip_amount / night_trip_amount))

9

In [54]:
trip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
 12  trip duration            300000 non-null  timedelta64[ns]
 13  weekend                  300000 non-null  bool
 14  time_of_day              300000 non-null  object
dtypes: bool(1), datetime64[ns](2), float64(4), int64(3), object(4), timedelta64[ns](1)
memory usage: 32.3+ MB

In [55]:
trip_df['time_of_day'] = trip_df['time_of_day'].astype('category')
trip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
 12  trip duration            300000 non-null  timedelta64[ns]
 13  weekend                  300000 non-null  bool
 14  time_of_day              300000 non-null  category
dtypes: bool(1), category(1), datetime64[ns](2), float64(4), int64(3), object(3), timedelta64[ns](1)
memory usage: 30.3+ MB

In [56]:
trip_df['usertype'] = trip_df['usertype'].astype('category')
trip_df['gender'] = trip_df['gender'].astype('category')

trip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  category
 10  gender                   300000 non-null  category
 11  age                      300000 non-null  int64
 12  trip duration            300000 non-null  timedelta64[ns]
 13  weekend                  300000 non-null  bool
 14  time_of_day              300000 non-null  category
dtypes: bool(1), category(3), datetime64[ns](2), float64(4), int64(2), object(2), timedelta64[ns](1)
memory usage: 26.3+ MB